/*  */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.customeLabel {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.customeLabel.active {
  background-color: #04aa6d;
  color: white;
}
.customeLabel:active:not(.active) {
  background-color: white;
}

.customeLabel:hover:not(.active) {
  background-color: #2e7e63;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.customRadio {
  display: none;
}
.customeLabel {
  position: relative;
  cursor: pointer;
}
.customeLabel:before {
  content: "";
  position: absolute;
  background-color: green;
  /* transform: translateY(-50%); */
  transition: background-color 0.2s;
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 58px;
  }
  .customeLabel {
    float: left;
    width: fit-content;
    text-wrap: nowrap;
    height: 100%;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .customeLabel {
    text-align: center;
    float: none;
  }
}
